{% extends 'ratecalc/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ tm.description }}
{% endblock %}

{% block body_block %}
  <h1>{{ tm.transient_type }} {{ tm.description }}</h1>
  <p>
    <a href="{% url 'show_lightcurve' tm.name %}">Lightcurve</a>
    <a href="{% url 'show_expected' tm.name %}">Expected Rate</a>
    <a href="{% url 'show_redshift' tm.name %}">Redshift Distribution</a>
  </p>
  <p><a href="{% url 'index' %}">Return to model selection</a>
  <div>
    {% if tm.name %}
      <form id="lightcurve_form" method="post" action="{% url action tm.name %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <table border="0">
          <tr>
            {% for header in form.headers %}
              <th>{{ header }}</th>
            {% endfor %}
          </tr>
          {% for row in form.rows %}
            <tr>
              {% for block in row %}
                <td>{% for item in block %} {{ item }} {% endfor %}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table> 
        <input type="submit" name="submit" value="Update" />
      </form>

      <div>
        {% autoescape off %}
          {{ plot }}
        {% endautoescape %}
      </div>
    {% else %}
      No transient model of that name is registered.
    {% endif %}
  </div>
{% endblock %}
