{% extends 'ratecalc/base.html' %}
{% load staticfiles %}
{% load ratecalc_template_tags %}

{% block title_block %}
  Index
{% endblock %}
  
{% block body_block %}
    <h1>Transient Rate Calculator</h1>
    <div>
      {% if transient_models %}
      <h3>Available Models</h3>
        {% for t in types %}
          <h4>{{ t }}</h4>
          {% get_tm_list t %}
        {% endfor %}
      {% else %}
        <strong>There are no models available.</strong>
      {% endif %}
    </div>
{% endblock %}
