{% extends 'ratecalc/base.html' %}
{% load staticfiles %}
{% load ratecalc_template_tags %}

{% block title_block %}
  Index
{% endblock %}
  
{% block body_block %}
    <h1>Transient Rate Calculator</h1>
    <div>
      {% if transient_models %}
        <h3>Available Models</h3>
        <p>(click transient type to reveal models)</p>
          {% for t in types %}
          <span style="cursor: pointer;" onclick="spoilerBody = typeof this.nextSibling.tagName != 'undefined' ? this.nextSibling : this.nextSibling.nextSibling; spoilerBody.style.display = 'block' == spoilerBody.style.display ? 'none' : 'block';">
            <strong>{{ t }}</strong>
          </span>
          <div style="display: none;">
            {% get_tm_list t %}
          </div><br/>
        {% endfor %}
      {% else %}
        <strong>There are no models available.</strong>
      {% endif %}
    </div>
{% endblock %}
